.lsw_table {
    
}
.lsw_table .button_separation {
    margin-left: 4px;
}
.lsw_table_itself {
    
}
table.lsw_table_itself > thead > tr > th {
    text-align: left;
}
table.lsw_table_itself > thead > tr > th.table_header {
    padding: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    text-align: left;
}
.table_menu_button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.table_navigation_menu_cell {
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.table_navigation_menu {
    border: 3px double #999;
    border-radius: 2pt;
    border-top-left-radius: 2pt;
    border-top-right-radius: 2pt;
    padding: 4px;
}
.lsw_table_itself > tbody > tr > td {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #999;
}
.lsw_table_itself > tbody > tr > td:first-child {
    border-left: 0px solid #999;
}
.lsw_table_itself > tbody > tr > td.index_cell {
    text-align: right;
}
.lsw_table_itself > tbody > tr > td.data_cell {
    padding: 1px;
}
.lsw_table_itself > tbody > tr > td.data_cell > pre {
    margin: 0px;
    border: 1px solid #999;
    border-radius: 2pt;
    background-color: #DDD;
    font-size: 12px;
    font-family: Arial;
    white-space: pre;
    overflow: scroll;
    padding: 4px;
}

.lsw_table_itself > tbody > tr.row_for_table.odd {
    background-color: #BBB;
}

.lsw_table .pagination_button {
    font-size: 25px;
    cursor: pointer;
}
.lsw_table .pagination_button_box {
    padding-left: 1px;
}
.lsw_table .pagination_button_box.first_box {
    padding-left: 0px;
}